<!DOCTYPE html>
<html>
<head>
	<title>Already existed email</title>
</head>
<body>
	<div>
		<h1>Email already exists</h1>
		<h4>please login</h4>
		<a href="/" class="btn btn-primary">Login</a>
	</div>
</body>
</html>