<!DOCTYPE html>
<html>
<head>
	<title>Login & Signup</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/loginsignup.js"></script>
</head>
<body ng-app="loginapp">
	<div class="container">
		
			<div ng-controller="loginController">
				<div class="col-md-4 col-md-offset-4" style="border: 1px solid black; margin-top:125px;box-shadow: 5px 5px 5px 5px;padding: 20px; border-radius: 3%">
					<h1 class="text-center">Login</h1>
				    <form class="form-group">
				    	<br>
				    	<br>
					    <label>Email:</label>
					    <input type="text" ng-model="log.email" class="form-control" required="" autocomplete="off">
					    <br>
					    <label>Password:</label>
					    <input type="password" ng-model="log.password" class="form-control" required="" autocomplete="off" >
					    <br>
					    <br>
					    <a href="/forgot">Forgot Password</a>
					    <br>
					    <br>
					    <br>
					    <div class="btn-group btn-group-justified">
							<div class="btn-group">
								<a href="/signup" class="btn btn-primary">SignUp</a>
								
							</div>
							<div class="btn-group">
								<button ng-click="login(log)"class="btn btn-success">Login</button>
							</div>
						</div>
					    

				    </form>
			    </div>
			</div>
		
	</div>

</body>
</html>